.gradle/
.idea/
gradle/
/build.gradle
*.jks
/gradle.properties
/gradlew
/gradlew.bat
/keytool
/local.properties
/local_history.patch
*.pepk
/settings.gradle
*.iml
/app/build.gradle
/app/proguard-rules.pro
/app/release
/app/src/main/res/values/game-ids.xml
/app/src/androidTest
/app/src/test